extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')


block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Hoşgeldiniz, lütfen giriş yapın.
        .modal__footer
          a(href='/auth/google')
            i.fab.fa-google-plus-g(aria-hidden='true')
            |   Google+ ile giriş


append javascripts
  script(src="/javascripts/controller/indexController.js")