doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css')
  body
    div(ng-app="chatdad", ng-cloak)
      block content

  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")